php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
php_value error_log logs/PHP_errors.log

RewriteEngine On

# Αν υπάρχει πραγματικό αρχείο .php, μην κάνεις rewrite
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Όλα τα υπόλοιπα στέλνονται στο index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]


<Limit GET HEAD POST PUT DELETE OPTIONS>
Require all granted
</Limit>
